<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="X8ProV2">
  <!-- Use simulated or real hardware interface -->
  <xacro:arg name="simulation" default="false"/>
  <!-- CAN interface for real hardware interface -->
  <xacro:arg name="ifname" default=""/>
  <!-- CAN id for real hardware interface -->
  <xacro:arg name="actuator_id" default=""/>

  <xacro:include filename="$(find myactuator_rmd_description)/urdf/X8ProV2/X8ProV2.xacro" />

  <!-- Create parent link -->
  <link name="world"/>
  <!-- Create child link -->
  <link name="child"/>

  <!-- Actuator -->
  <xacro:X8ProV2 name="X8ProV2" parent_link="world" child_link="child" joint_name="joint" simulation="$(arg simulation)"
                 ifname="$(arg ifname)" actuator_id="$(arg actuator_id)"/>

  <!-- Gazebo ros2_control plug-in -->
  <xacro:if value="$(arg simulation)">
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find myactuator_rmd_description)/config/myactuator_rmd_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>
