<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ros2_control configuration for a given joint -->
  <xacro:macro name="myactuator_rmd_ros2_control" params="name joint_name simulation ifname actuator_id torque_constant extra_status_refresh_rate">
    <ros2_control name="${name}" type="actuator">
      <hardware>
        <xacro:if value="${simulation}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:unless value="${simulation}">
          <plugin>myactuator_rmd_hardware/MyActuatorRmdHardwareInterface</plugin>
          <!-- The name of the CAN interface -->
          <param name="ifname">${ifname}</param>
          <!-- The id used for the CAN communication -->
          <param name="actuator_id">${actuator_id}</param>
          <!-- Torque constant of the actuator -->
          <param name="torque_constant">${torque_constant}</param>
          <!-- Extra status refresh of the actuator -->
          <param name="extra_status_refresh_rate">${extra_status_refresh_rate}</param>
        </xacro:unless>
      </hardware>
      <joint name="${joint_name}">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>
  </xacro:macro>

</robot>